.divtop{
    height: 170px;
}
.divtable{
    display: flex;
    justify-content: center;
    align-items: center;
}
.table{
    width:560px;
    height:200px;
    border:10px;
    border-style:solid;
}
.firstth{
    height: 30px;
}
.tdone{
    width: 290px;
    writing-mode: vertical-rl;
    margin: 10px;
}
.tdtwo{

    display: flex;
    justify-content: center;
    align-items: center; 
    height: 155px;
}
.image{
    height:150px;
    width:150px;
    float:inherit;
}
.textbox{
    height: 230px;
    width: 230px;
}
.button_container{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100px;
}
.button{
    width:100px;
    height:40px;
    font-size: 10px;
    font-weight:bold;
}
.button:hover{
    transform: scale(1.05);
}